*.swp
package-lock.json
*__pycache__*
.pytest_cache
.env
.venv
venv/
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
.DS_Store
*.pyc
refarch/aws-native/common/data-generator/project/project/
refarch/aws-native/common/data-generator/project/target/
refarch/aws-native/common/data-generator/src/test/resources/
refarch/aws-native/common/data-generator/target/
refarch/aws-native/dwh/dwh_cdk/bootstrap_lambda_layer
refarch/aws-native/dwh/dwh_loader_layer
refarch/aws-native/streaming/streaming_cdk/lambda-layer
refarch/aws-native/streaming/stream-processing/target
core/node_modules/
core/src/integ.default.ts
*.log
doc/site
__init__.py
core/.github/*

# IDE settings
.idea
.vscode
*.iml

core/tmp.yaml
