astroid==2.4.2
autopep8==1.6.0
backports.entry-points-selectable==1.1.0
boto3==1.20.12
botocore==1.23.12
click==8.0.3
distlib==0.3.2
filelock==3.0.12
Flask==2.0.2
isort==5.6.4
itsdangerous==2.0.1
Jinja2==3.0.2
jmespath==0.10.0
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
mccabe==0.6.1
platformdirs==2.2.0
pycodestyle==2.8.0
pylint==2.6.0
python-dateutil==2.8.2
s3transfer==0.5.0
six==1.15.0
toml==0.10.2
urllib3==1.26.7
virtualenv==20.7.0
Werkzeug==2.0.2
wrapt==1.12.1
