name: CDK-NAG
on:
  pull_request: {}
  workflow_dispatch: {}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Setup Node 12
        uses: actions/setup-node@v2
        with:
          node-version: '12'
      - name: Setup Java 11
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu' # OpenJDK
          java-version: '11'
      - name: Install dependencies
        run: cd core && yarn install --check-files --frozen-lockfile
      - name: Build
        run: cd core && npx projen build
    container:
      image: jsii/superchain
